.top-container {
    margin-bottom: 15px;
  }
  
  .login-container {
    height: 90vh;
    margin-top: 55px;
  }
  
  .form-box {
    margin: 20px;
  }
  
  .mat-card {
      background-color: #005cb248;
      border: 5px solid black;
  }
  
  .form-fields-box {
    margin: 35px;
  }
  
  
  .app-logo {
    margin-bottom: 15px;
    height: 400px;
    width: auto;
    border-radius: 50%;
  }
  
  .progress-bar {
    width: 30vw;
  }
  
  .password-visibility {
    color: whitesmoke;
  }

  h1, h3 {
    font-variant: small-caps;
  }

  .login-title {
    font-size: 55px
  }

  .login-subtitle {
    font-size: 35px;
  }
  
  