<div>
  <button
    mat-icon-button
    class="close-fullscreen-button"
    (click)="closeFullscreen()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div
    fxLayoutAlign="center center"
    *ngIf="hydrusFiles && currentFile"
    class="custom-swiper-container"
    (swipe)="onSwipe($event)"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState($event)"
    (swipeleft)="startAnimation('slideOutLeft')"
    (swiperight)="startAnimation('slideOutRight')"
  >
    <div *ngIf="imageType(currentFile.mime); else video">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <img
        [hidden]="loading && !complete"
        (load)="onLoad()"
        [src]="currentFile.file_url"
        draggable="false"
        class="current-image"
      />
    </div>
    <ng-template #video>
      <div
        class="current-image"
        [ngStyle]="{
          background:
            'url(' + currentFile.thumbnail_url + ') no-repeat center center',
          'background-size': 'contain'
        }"
        fxLayoutAlign="center center"
      >
        <img
          src="assets/images/video-play-button.png"
          (click)="openVideoPlayer(currentFile)"
          draggable="false"
          class="video-play-button"
        />
      </div>
    </ng-template>
  </div>

  <div class="num-files-container">
    {{ currentFileIndex + 1 }} / {{ hydrusFiles.length }}
  </div>
</div>
