
.mat-list-item {
  padding: 2px;
}

.title {
  text-shadow: 0 0 1px black;
}
  
  
.mat-divider {
   padding: 3px;
}
  
.dialog-action {
  margin-top: 5px !important;
  justify-content:flex-end;
}

.mat-dialog-content{
  white-space:pre-wrap !important;
}




