.archive-delete-disabled {
  color: red;
}

.archive-delete-enabled {
  color: green;
}

.files-container {
  margin: 10px;
}

.image-container {
  width: 500px;
  height: auto;
}

.filter-button {
  width: 250px;
  color: whitesmoke;
}

.image-list-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  animation: fadeIn ease 500ms;
  background-color: #c7c5cb;
}

.grid-item > a {
  -webkit-tap-highlight-color: transparent;
}
