<div class="main-container">
  <div fxLayout="column">
    <div fxLayout="row">
      <app-search-tag-input
        [initalTags]="initalTags"
        [initalSortDir]="sortDir"
        [initalSortType]="sortType"
        (tags)="tagsChanged($event)"
        (sortType)="sortTypeChanged($event)"
        (sortDir)="sortDirChanged($event)"
        class="tag-input"
      ></app-search-tag-input>
      <button
        mat-flat-button
        color="accent"
        class="search-play-button"
        (click)="changeSearchStatus()"
      >
        <mat-icon>{{ startSearch ? "play_arrow" : "pause" }}</mat-icon>
      </button>
    </div>

    <mat-divider id="dark-mode-divider" fxHide fxShow.lt-md></mat-divider>

    <div
      fxLayout.gt-sm="row"
      fxLayoutGap="10px"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="center center"
    >
      <button
        mat-flat-button
        (click)="startFilter()"
        class="filter-button"
        color="primary"
      >
        Send to Archive/Delete Filter
      </button>
      <!--  <button mat-flat-button (click)="viewRecentlyChanged()" [disabled]="noRecentlyChangedFiles()">View recently changed</button>-->
      <section fxShow fxHide.lt-md>
        <mat-button-toggle-group
          [(ngModel)]="filterStyle"
          aria-label="Filter Selection Type"
        >
          <mat-button-toggle value="select-list">Select List</mat-button-toggle>
          <mat-button-toggle value="full-screen">Full Screen</mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>
  </div>

  <div class="content-container">
    <div *ngIf="loading" fxLayout="column" class="loading-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p matLine *ngIf="processing" class="processing-text">
        Processing Filter...
      </p>
    </div>
    <div *ngIf="hydrusFiles && !loading" class="image-chunk-container">
      <app-image-display-chunk [hydrusFiles]="hydrusFiles"></app-image-display-chunk>
    </div>
    <!--
    <div
      *ngIf="hydrusFiles && !loading"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <div *ngFor="let file of hydrusFiles" class="files-container">
        <app-image-display
          [hydrusFile]="file"
          [widthNum]="265"
          [heightNum]="230"
          [thumbnail]="true"
        ></app-image-display>
        <button mat-flat-button (click)="downloadFile(file)" class="download-button" type="button">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>-->
  </div>
</div>
