<div fxLayout="column" class="main-container">
  <div *ngIf="loading" fxLayout="column" class="loading-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p matLine *ngIf="processing" class="processing-text">
      Processing Filter...
    </p>
  </div>

  <div fxLayout="column" *ngIf="!loading">
    <div fxLayout="row wrap" fxLayout="center center" fxLayoutGap="10px">
      <mat-form-field appearance="outline" class="thumbnail-form-field">
        <mat-label> Thumbnail Height </mat-label>
        <input
          matInput
          [(ngModel)]="thumbnailHeight"
          type="number"
          (ngModelChange)="updateHeight($event)"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="thumbnail-form-field">
        <mat-label> Thumbnail Width </mat-label>
        <input
          matInput
          [(ngModel)]="thumbnailWidth"
          type="number"
          (ngModelChange)="updateWidth($event)"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
      </mat-form-field>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="legend-container"
    >
      <div fxLayout="row wrap" fxLayoutGap="20px">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
        >
          <p class="color-block" id="selected-color"></p>
          <img
            src="assets/custom-icons/left-click.png"
            class="mouse-button-icons"
          />
          <p>Archive</p>
        </div>

        <div
          fxLayout="row wrap"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
        >
          <p class="color-block" id="skip-color"></p>
          <img
            src="assets/custom-icons/middle-click.png"
            class="mouse-button-icons"
          />
          <p>Skip</p>
        </div>

        <div
          fxLayout="row wrap"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
        >
          <p class="color-block" id="delete-color"></p>
          <img
            src="assets/custom-icons/no-click.png"
            class="mouse-button-icons"
          />
          <p>Delete</p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div
        *ngFor="let file of hydrusFiles"
        class="file-filter-container"
        fxLayout="column"
      >
        <button
          mat-flat-button
          (click)="fullscreenView(file)"
          color="accent"
          class="change-view-button"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-icon>zoom_in</mat-icon>
          <span *ngIf="isPlayable(file)"> / </span>
          <mat-icon *ngIf="isPlayable(file)">play_arrow</mat-icon>
        </button>
        <div
          (click)="selectFile(file, $event)"
          (auxclick)="onAuxClick(file, $event)"
          [ngStyle]="{ border: isFileSelected(file) }"
        >
          <app-image-display
            [hydrusFile]="file"
            [heightNum]="thumbnailHeight"
            [widthNum]="thumbnailWidth"
            [thumbnail]="false"
          ></app-image-display>
        </div>
      </div>
    </div>
    <mat-divider id="dark-mode-divider"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
      <button
        mat-flat-button
        color="primary"
        (click)="submitFiles()"
        class="submit-button"
      >
        Submit
      </button>
      <mat-checkbox [(ngModel)]="continue" class="continue-checkbox"
        >Continue Filtering</mat-checkbox
      >
    </div>
  </div>
  <div *ngIf="loading"></div>
</div>
