.custom-swiper-container {
  height: 87vh;
  width: 90vw;
  padding: 5px;
}

.current-image {
  height: 85vh;
  max-width: 80vw;
  object-position: center;
  object-fit: contain;
}

.current-video {
  width: 87vw;
  height: 85vh;
  object-position: center;
  object-fit: contain;
}

.archive-button {
  position: absolute;
  height: 87vh;
  width: 55px;
  top: 9%;
  right: 25px;
}

.delete-button {
  position: absolute;
  height: 87vh;
  width: 55px;
  left: 25px;
  top: 9%;
}

.archive-button,
.delete-button,
.skip-button,
.previous-button,
.download-button {
  .mat-icon {
    font-size: 55px;
    height: 55px;
    width: 55px;
    line-height: 55px;
    color: #00b0ff;
    text-shadow: 0px 0px 1px black;
  }
}

.close-fullscreen-button {
  color: orangered;
  position: absolute;
  right: 30px;
  font-size: 35px;
  height: 35px;
  width: 35px;
  line-height: 35px;

  .mat-icon {
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}

.play-video-button {
  color: #bb002f;
  font-size: 45px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  margin-left:auto;
  margin-right: auto;

  .mat-icon {
    font-size: 45px;
    height: 45px;
    width: 45px;
    line-height: 45px;
  }
}

.num-files-container {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.top-buttons-container {
  height: 60px;
}
