<div class="main-container">
  <div class="top-buttons-container" fxLayout="center center">
    <button
      mat-icon-button
      class="close-fullscreen-button"
      (click)="closeFullscreen()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-icon-button
      class="play-video-button"
      (click)="playVideo()"
      *ngIf="!imageType(currentFile?.mime)"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

  <div
    fxLayoutAlign="center center"
    *ngIf="currentFile"
    class="custom-swiper-container"
    (swipe)="onSwipe($event)"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState($event)"
    (swipeleft)="startAnimation('slideOutLeft')"
    (swiperight)="startAnimation('slideOutRight')"
  >
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="imageType(currentFile.mime); else video">
      <img
        [hidden]="loading && !complete"
        (load)="onLoad()"
        [src]="currentFile.file_url"
        draggable="false"
        class="current-image"
      />
    </div>
    <ng-template #video>
      <video
        class="current-video"
        controls
        [muted]="true"
        (loadeddata)="onLoad()"
        [hidden]="loading && !complete"
        #videoPlayer
      >
        <source [src]="currentFile.file_url" [type]="currentFile.mime" />
        Your browser does not support the video tag.
      </video>
    </ng-template>
  </div>
  <button mat-icon-button class="delete-button" (click)="sendToDelete()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button class="archive-button" (click)="sendToArchive()">
    <mat-icon>archive</mat-icon>
  </button>

  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <button
      mat-icon-button
      class="previous-button"
      (click)="sendToPrevious()"
      matTooltip="go to previous file"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button
      mat-icon-button
      class="download-button"
      (click)="downloadFile(currentFile)"
      matTooltip="download file"
    >
      <mat-icon>download</mat-icon>
    </button>

    <button
      mat-icon-button
      class="skip-button"
      (click)="sendToSkip()"
      matTooltip="skip current file"
    >
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>

  <div class="num-files-container">
    {{ currentFileIndex + 1 }} / {{ hydrusFiles.length }}
  </div>
</div>
